body{
    font-family: Bradley Hand, cursive; 
    background: AntiqueWhite;
}

header{
    display: flex;
    justify-content: space-between;
    text-align: justify;
}
.blog-navigation {
    text-shadow: 0 2px 1px darkgray, 0 0 1em gray;
    font-size: 130%;
    font-family: Bradley Hand, cursive; 
}
article.body1{
  min-height: 100px;
  margin: 0 20px;
  padding: 10px;
  background-color: rgba(241, 196, 15, 0.1);
  border-radius: 5px;
  box-shadow: 0 0 3px #cccccc;    
}
.body1::after{
    content: "";
    display: table;
    clear: both;
}

aside.image1{
    text-align: center;
    float: right;
    width: 25%;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 10px  3px  5px 3px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 3px rgba(243, 156, 18, 0.2);
}

.image1{
    width: 100%;    
}

main{
    background: FloralWhite;
    padding: 0 10px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    min-height: 200px;
    padding-top: 50px;
    color: black;
    background-color: OldLace;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
}
main::after,
.slides::after {
  content: "";
  display: table;
  clear: both;
}

.complex_list{
    list-style-type: none;
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
a{
    padding: 10px 20px;
    display: block;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    background: BurlyWood;
    color: white;
    transition: .5s

}

.sec1{
    text-align: left;
    float: left;
    width: 70%;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.3em 0 0 0.3em;
    background-color: OldLace;
    box-shadow: 0 0 5px 3px rgba(243, 156, 18, 0.2);
}
.sec2{
    text-align: center;
    float: left;
    width: 70%;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.3em 0 0 0.3em;
    background-color: OldLace;
    box-shadow: 0 0 5px 3px rgba(243, 156, 18, 0.2);
}
h2{
    text-align: center;
}

.text1{
    border: 1px solid Wheat;
    background: Wheat;
    color:darkred; 
    padding: 10px;
    border-radius: 10px;
    margin-right: 100px;
    margin-left: 100px;
    font-style: italic;
    font-family:DejaVu Sans Mono, monospace;
    font-size: 110%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    text-shadow: 0 0 1px SaddleBrown;
    text-align: center;
}

cite{
    width: 70%;  
    text-align: right;
}
.myprof{
    text-align: center;
    float: right;
    width: 25%;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.3em 0 0 0.3em;
    background-color: #ffffff;
    box-shadow: 0 0 5px 3px rgba(243, 156, 18, 0.2);
}

.hob{
   text-align: center;
    float: right;
    width: 25%;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 0.3em 0 0 0.3em;
    background-color: #ffffff;
    box-shadow: 0 0 5px 3px rgba(243, 156, 18, 0.2); 
}

section.raznoe{
    min-height: 100px;
    margin: 50px 20px;
    padding: 10px;
    background-color: rgba(241, 196, 15, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);    
}

figure.raz{
    margin: 0 20px;
    padding: 10px;
}

.raz > img {
  float: left;
  margin-right: 16px;    
}

.raz > img:last-child {
  margin-right: 0;
}

img {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

table.tb1{
  margin: 20px;  
  width: 1000px;
    height: 360px;
  border-collapse: collapse;
  border: 1px solid black;
  }

td.tb1{
  border: 1px solid black;
  width: 20%;
     height: 20%;
  }

table.tb2{
    margin: 20px;
    width: 800px;
    height: 800px;
    border-collapse: collapse;
    border:1px solid black;
}

td{
    border:1px solid black;
    width: 100px;
    height: 100px;
}


.cl1{
    background:cyan;
}
    
.cl2{
    background:lightyellow;
}

.red{
    background:red;
}

.blue{
    background:blue;
}

.green{
    background:green;
}

.yellow{
    background:yellow;
}


form.form1 {
background-color: white;
  width: 600px;
}

table.cls3{
    width: 800px;
    border-collapse: collapse;
    border: none;
}

td.cls1{
    border: none;
    text-align: right;
    height: 3px;
}

td.f1{
     height: 3px;
    border: none;
}

form.form2{
    background-color: white;
    width: 500px;
}

footer.ft {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    color: white;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==");
    background-color: BurlyWood;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px rgba(243, 156, 18, 0.2);
    text-align: right;
}



